@model IEnumerable<BookClub.Models.Book>
@{
    ViewBag.Title = "Authenticated Index";
}

<h2>Index</h2>
<div id="recomBooks">
    @foreach (var itm in Model)
    {
        <div>
             @Html.ActionLink(itm.Title, "BookDetails", new { id = itm.BookId })  
        </div>
    }
</div>
