@model ICollection<BookClub.Models.Book>
@{
    ViewBag.Title = "AuthorDetails";
}

<h2>Author Details</h2>

<div id="authorBooks">
    <div> List of books by @ViewBag.AuthorName </div>
            <!-- need to fix this! only displaying first book in list!-->
        <div> Book title: @Model.FirstOrDefault().Title </div>
    

</div>
