@model  ICollection<BookClub.Models.Book>
@{
    ViewBag.Title = "Author Details";
}

<h2>Author Details</h2>

<div id="authorBooks">

    
    <div>Books written by </div>
    @foreach (var book in Model)
    {
        <div> Book title: @book.Title</div>
    }
</div>
