@model int
@{
    ViewBag.Title = "Book Details";
}

<h2>Book Details</h2>


<div>
    <div>Book Title: @ViewBag.BookTitle </div>
    <div>Book Author: @ViewBag.BookAuthor </div> 
    <div>Book Description: @ViewBag.BookDescription</div>
    <div>Book Review: @ViewBag.BookReview</div>
</div>