@model  BookClub.Models.Book
@{
    ViewBag.Title = "Book Details";
}

<h2>Book Details</h2>

<div id="bookInfo">
    <div>Book Title: @Model.Title </div>
    <div>Book Author:  </div> 
    <div>Book Description: @Model.Description</div>
</div>

<h2> Reviews </h2>

<div id="reviewInfo">
      
</div>