@model List<BookClub.Models.Book>

@{
    ViewBag.Title = "Book Club - Books and Authors";
}


<h2 id="welcome">Welcome to the Book Club</h2>

@foreach (var book in Model)
{
    <div id="booksArea">
        <div id="book">  @Html.ActionLink(book.Title, "BookDetails", new { id = book.BookId })  </div>
    </div>
}