@model List<BookClub.Models.Book>

@{
    ViewBag.Title = "Book Club - Books and Authors";
}


<h2>Books and Authors</h2>

@foreach (var book in Model)
{
    <div>
        <div> Book title:  @Html.ActionLink(book.Title, "BookDetails", new { id = book.BookId })  </div>
    </div>
}


